:root {
    --navyblue: #2E2F42;
    --white: #ffffff;
    --iris: #4D5AE5;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--navyblue);
    font-style: normal;  
    line-height: 24px;
    letter-spacing: 0.32px;
    font-size: 16px;
}

.nav-bar > ul > li > 
a:hover, 
a:focus {
    color: var(--iris);
}

button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

button:hover,
button:focus {
    background-color: var(--white);
    color: var(--iris);
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: var(--navyblue);
    color: var(--white);
}

.hero-section > h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-transform: uppercase;
}

footer {
    width: 1440px;
    height: 312px;
    background-color: var(--navyblue);
    flex-shrink: 0;
    color: var(--white);
}